# Created by https://www.gitignore.io/api/java,maven,eclipse

### Eclipse ###

.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/

# Scala IDE specific (Scala & Java development for Eclipse)
.cache-main
.scala_dependencies
.worksheet

### Eclipse Patch ###
# Eclipse Core		
.project

# JDT-specific (Eclipse Java Development Tools)		
.classpath

### Java ###
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar

# End of https://www.gitignore.io/api/java,maven,eclipse
src/main/webapp/resources/common/js/bootstrap2-toggle.min.js
src/main/webapp/resources/common/fullcalendar/js/jquery.timepicker.min.js
src/main/webapp/resources/common/fullcalendar/css/jquery.timepicker.css
src/main/webapp/resources/common/css/bootstrap2-toggle.min.css
src/main/webapp/WEB-INF/views/personnel/schedule/script/schedule.jsp
src/main/webapp/WEB-INF/views/management/common/confirm.jsp
src/main/webapp/WEB-INF/views/attendance/vacation/vacationProgressList.jsp
src/main/webapp/WEB-INF/views/attendance/holidaySet/holiDyMng.jsp
src/main/webapp/WEB-INF/views/attendance/business/businessRequest.jsp
src/main/webapp/WEB-INF/views/SalManager/emp/mainMove.jsp
src/main/resources/com/example/spring/management/common/commonCodeMapper.xml
src/main/resources/com/example/spring/attendance/vacation/vacationRequestMapper.xml
src/main/resources/com/example/spring/attendance/vacation/vacationProgCntMapper.xml
src/main/resources/com/example/spring/attendance/vacation/vacationListAdminMapper.xml
src/main/resources/com/example/spring/attendance/businessTrip/businessRequestMapper.xml
src/main/resources/com/example/spring/attendance/businessTrip/businessRequestEmpListMapper.xml
src/main/java/com/example/spring/management/service/CommonCodeService.java
src/main/java/com/example/spring/management/dao/CommonCodeDao.java
src/main/java/com/example/spring/management/controller/CommonCodeController.java
src/main/java/com/example/spring/attendance/service/vacation/VacationProgCntService.java
src/main/java/com/example/spring/attendance/service/holidaySet/HolidaySetService.java
src/main/java/com/example/spring/attendance/dao/vacation/VacationProgCntDao.java
src/main/java/com/example/spring/attendance/dao/holidaySet/HolidaySetDao.java
src/main/java/com/example/spring/attendance/controller/vacation/VacationProgCntController.java
src/main/java/com/example/spring/attendance/controller/holidaySet/HolidaySetController.java
src/main/java/com/example/spring/attendance/controller/businessTrip/BusinessReqController.java
