<!--?xml version="1.0" encoding="UTF-8"? -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 휴가 sql -->
<mapper namespace="vacation">
	
	<select id="vacationProgCntNum" parameterType="int">
	/* vacationProgCnt Num(휴가 승인대기 개수 - 관리자) */
	
	SELECT 
		COUNT(VAST_PROGRESS_SITUATION) AS progCntNum 
	FROM VAC_STATEMENT;
	WHERE VAST_PROGRESS_SITUATION = '승인대기'
	
	</select>
	

</mapper>