<!--?xml version="1.0" encoding="UTF-8"? -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 휴가 sql -->
<mapper namespace="vacation">
	
	<select id="vacationListAdmin" parameterType="HashMap">
	/* vacationListAdmin Select(휴가 조회-관리자) */
	SELECT 
		EMP_EMNO,					#사원번호
		ATTENDANCE_C,				#근태코드
		VAST_C,						#휴가코드
		VAST_CRT_DATE,				#휴가신청일자
		VAST_START_DATE,			#휴가시작날짜
		VAST_END_DATE,				#휴가종료날짜
		VAST_VAC_UD,				#휴가일수
		VAST_CONT,					#휴가사유
		VAST_PROGRESS_SITUATION, 		#전자결재상태
		VAST_DEL_YN					#삭제여부	
	FROM VAC_STATEMENT
	</select>
	

</mapper>