<!--?xml version="1.0" encoding="UTF-8"? -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 출장신청 -->
<mapper namespace="business">
	<insert id="businessRequest" parameterType="HashMap">
	/* businessRequest Insert (출장신청) */
	
	INSERT INTO BT_STM(
		EMP_EMNO,					  	#사원번호
		BTST_SERIAL_NUMBER, 	#출장일련번호
		ATRF_SERIAL_NUMBER, 	#영수증파일일련번호
		BTST_CRT_DATE, 				#신청일자
		BTST_BT_START_DATE, 	#출장시작일자
		BTST_BT_END_DATE, 		#출장종료일자
		BTST_BT_AREA, 				#출장지역
		BTST_BT_P, 						#출장목적(장소)
		BTST_BT_PF, 					#출장비예상
		BTST_BT_FEE,			  	#출장비실제사용금액
		BTST_CONT, 						#신청내용
		BTST_DEL_YN 					#삭제여부
	) VALUES (
		#{empEmno}, #사원번호
		(SELECT CONCAT('BT',(SELECT DATE_FORMAT(NOW(), '%Y%m%d')),'-',(SELECT LPAD((SELECT IFNULL((SELECT COUNT(*) FROM BT_STM a),0)+1), 4, '0')))),
		null, #영수증파일일련번호(NULL)
		(SELECT REPLACE(#{btstCrtDate},'-','')), #신청일자
		(SELECT REPLACE(#{btstBtStartDate},'-','')), #출장시작일자
		(SELECT REPLACE(#{btstBtEndDate},'-','')), #출장종료일자
		#{btstBtArea}, #출장지역
		#{btstBtP}, #출장목적(장소)
		(SELECT REPLACE(#{btstBtPf},',','')), #출장비예상
		null, #출장비실제사용금액
		#{btstCont}, #신청내용
		'N' #삭제여부
	)
	</insert>
</mapper>