<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	
	<typeAliases>
		<typeAlias alias="String" type="java.lang.String" />											
		<typeAlias alias="Integer" type="java.lang.Integer" />											
		<typeAlias alias="HashMap" type="java.util.HashMap"/>											
		<typeAlias alias="List" type="java.util.List"/>													
	</typeAliases>
	
	<mappers>
		<mapper resource="com/example/spring/management/menuTree/menuTreeMapper.xml"/>

		<mapper resource="com/example/spring/personnel/schedule/scheduleMapper.xml"/>

		<mapper resource="com/example/spring/common/commonMapper.xml"/>
	</mappers>
		
</configuration>