<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	
	<typeAliases>
		<typeAlias alias="String" type="java.lang.String" />											
		<typeAlias alias="Integer" type="java.lang.Integer" />											
		<typeAlias alias="HashMap" type="java.util.HashMap"/>											
		<typeAlias alias="List" type="java.util.List"/>													
	</typeAliases>
	
	<mappers>
		<!-- [인사관리] START -->
		<!-- [인사관리]-[일정관리] -->
		<mapper resource="com/example/spring/personnel/schedule/scheduleMapper.xml"/>
		<!-- [인사관리] END -->
		
		<!-- [근태관리]-[출결관리] -->
		<mapper resource="com/example/spring/attendance/attend/hdayExtnNightWorkInqrMapper.xml"/>
		<mapper resource="com/example/spring/attendance/attend/mnthngAttdCrtClsMapper.xml"/>
		
		<mapper resource="com/example/spring/management/menuTree/menuTreeMapper.xml"/>

		<mapper resource="com/example/spring/common/commonMapper.xml"/>
<!-- 		<mapper resource="com/example/spring/attendance/attend/hdayExtnNightWorkInqrMapper.xml"/> -->
<!-- 		<mapper resource="com/example/spring/attendance/attend/mnthngAttdCrtClsMapper.xml"/> -->
		<mapper resource="com/example/spring/attendance/businessTrip/businessRequestMapper.xml"/>
		<mapper resource="com/example/spring/attendance/vacation/vacationRequestMapper.xml"/><!-- 휴가신청 -->
		<mapper resource="com/example/spring/attendance/vacation/vacationListAdminMapper.xml"/><!-- 휴가리스트조회-관리자용 -->
		<mapper resource="com/example/spring/attendance/vacation/vacationProgCntMapper.xml"/><!-- 휴가 승인대기 카운트 -->
		<mapper resource="com/example/spring/attendance/businessTrip/businessRequestEmpListMapper.xml"/>

		
		<mapper resource="com/example/spring/management/common/commonCodeMapper.xml"/>

		
		<!-- [급여관리] START  -->
		<mapper resource="com/example/spring/salmanager/emp/EmpMenuMapper.xml"/>
		
		<mapper resource="com/example/spring/salmanager/payc/PaycMenuMapper.xml"/>
		
		<!-- [급여관리] END  -->
	</mappers>
		
</configuration>